.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.App div{
    height: 50px;
    width: 50px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.App div:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2)
}
.App div span {
    font-size: 30px;
}
#root {
    height: 100%;
}
  